<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
		<property name="locateExistingServerIfPossible" value="true" />
	</bean>

	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="server" ref="mbeanServer" />
		<property name="beans">
			<map>
				<entry key="${application.name}:logger=com.youthen ">
					<bean class="org.apache.log4j.jmx.LoggerDynamicMBean">
					     <constructor-arg ref="sysLog"/>
					</bean>
				</entry>
				<entry key="${application.name}:logger=java.sql">
					<bean class="org.apache.log4j.jmx.LoggerDynamicMBean">
					     <constructor-arg ref="sqlLog"/>
					</bean>
				</entry>
			</map>
		</property>
		<property name="registrationBehaviorName" value="REGISTRATION_IGNORE_EXISTING"/>
	</bean>

    <bean id="sysLog" class="org.apache.log4j.LogManager" factory-method="getLogger" scope="prototype">
		<constructor-arg value="com.youthen " />
    </bean>
    <bean id="sqlLog" class="org.apache.log4j.LogManager" factory-method="getLogger" scope="prototype">
		<constructor-arg value="java.sql" />
    </bean>
</beans>