body {background-color:#ededed;}
.top span{width:2.3rem;}

.page_main{margin-bottom:.80rem;    overflow: hidden;    margin-top: 0.005rem;}

.page_list{float:left;}
.page_list {width:.49rem; background-color:white; padding:.15rem;    border-bottom: 0.01rem solid #ededed;border-right:0.01rem solid #ededed;}
.page_list img{width:.40rem;}
.page_list p{text-align:center; color:#808080; font-size:.10rem;}























