body{ background:#ededed;}
.top{border-bottom:0.01rem solid #eeeeee;}
.rowwn{text-align:center; margin-top:.6rem;}
.rowwn img{width:50%;}
.rowwn p{text-align:center; color:#ff8600; font-size:.14rem; margin-top:.18rem;}