/*头部*/
.top span{width:1.78rem;}
.top a:first-child{ padding: 0 .26rem 0 0;}
.top a:last-child{padding-right: 0;}
.top .pay {border: .01rem solid #ff9600;color: #ff9600;font-size: .14rem;border-radius: .05rem;display: inline-block; width: .40rem;height: .25rem;line-height: .25rem;text-align: center;margin-top: .08rem;margin-right: .13rem;}
.top .pay img {width: .20rem;margin-top: .07rem;float: right;}
/*整体*/
body{ background:#ededed;}

/*日期*/
.choose_date{margin: .14rem .15rem .14rem .15rem;}
.choose_date input{width:.68rem; height:.38rem; border-radius:.05rem; border:0; text-align:center; line-height:.38rem;}
.choose_date span{margin:0 .08rem;}
.choose_date .year::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: black; font-size:.14rem;}
.choose_date .day{width:.88rem;}



/*投诉详情*/
.complain_detail{background-color:white;overflow: hidden;margin-top: .01rem;}
.complain_detail .middle{border-bottom: .01rem solid #f1f1f1; overflow:hidden ;padding:.15rem;}
.middle .images{ float:left;}
.middle .images a{display:inline-block;}
.content .dealing{font-size:.12rem; color:#42b035; float:right;}
.middle .content{float:left;}
.middle img{width:.87rem;height:.87rem;}
.content p span{display:inline-block;font-size:.12rem; padding-left:.15rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.content .deal{font-size:.12rem; color:#acacac;padding: 0 0 0 .70rem;}
.content .detail{font-size:.12rem;color:#b0b0b0; width: 1.69rem;padding: .07rem 0 0 .15rem;text-overflow: ellipsis;white-space: nowrap;height: 0.16rem;overflow: hidden;}

.content .time{color: #999999;font-size: .12rem;margin: .10rem 0 0 .16rem;}

.choose_01{width:2.70rem;overflow:hidden;margin:.15rem auto;}
.choose{display:block}
.choose_01 span{margin:2%;display: inline-block; }
select {height:.38rem; background-color:white; border-radius:.04rem;text-align:center;display: inline-block; position: relative;border:0;text-align:center;}
select option{text-align:center;}
select#year,select#month,select#state{padding:0 .05rem 0 .05rem;}
.list{position:relative;}
.list p.che,.list p.delete{position:absolute;bottom:.13rem;right:.15rem;z-index:555;}
.list p.che span,.list p.delete span{float:right;padding: .04rem .10rem .05rem;background-color: #ff9600;border-radius: .05rem;color: #fff;font-size:.12rem;}
.bt{width: 1.35rem;}


.tan p,.tan1 p{ margin: 0rem .10rem .2rem;}
